<img src="/images/bank.jpg" class="rounded mx-auto d-block" alt="bank">

<div class="d-grid gap-2 d-md-flex justify-content-md-end"><a href="/manager/register" class="link-secondary">Registo de gestores</a></div>