<h2 class="text-center p-5">Poupança</h2>
<div class="card" style="width: 10rem; height:5rem;">
    <p class="link-dark text-center fs-4">Saldo</p>
    <span class="text-center">{{ this.account.balance }} € </span>
</div>

<div class="card p-2 mt-3">
    <form class="row g-3" method="post">
        <div class="card-header">
            <h6 class="p-2">Reforçar</h6>
        </div>
        <div class="col-md-3">
            <label for="inputExit" class="form-label">Montante</label>
            <input type="text" name="montante" class="form-control" id="inputExit" placeholder="Montante">
        </div>
        <div class="col-12 text-center p-3">
            <button type="submit" class="btn btn-secondary">Submeter</button>
        </div>
    </form>
</div>